body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    border: none;
    margin: 0px;
}

.header{
    text-align: center;
    align-self: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: radial-gradient(circle, #0e0950, #0e0038);
}

.bienvenida{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo{
    font-family: 'Courier New', Courier, monospace;
    color: #929292;
}

.content{
    background-color: hsl(0, 0%, 13%);
    color: #fffdfd;
    margin-left:35px;
    margin-right:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
}

.parcial1{
    margin-left:35px;
}

.texto-primer-parcial{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: 35px;
}

.img1{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.primer-parcial{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tarjeta1{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #24c62f;
    width: 30%;
    margin-left:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton1{
    font-family:'Courier New', Courier, monospace;
    background-color: #24c62f;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.boton1:hover{
    background-color: #23bf2e;
}

.texto-GH{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.tarjeta2{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #e22b2b;
    width: 30%;
    margin-left:12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton2{
    font-family:'Courier New', Courier, monospace;
    background-color: #e22b2b;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.boton2:hover{
    background-color: #d92929;
}

.texto-LP{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.tarjeta3{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #9c2be2;
    width: 30%;
    margin-left: 12px;
    margin-right: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton3{
    font-family:'Courier New', Courier, monospace;
    background-color: #9c2be2;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.boton3:hover{
    background-color: #9529d8;
}

.texto-JS{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

footer{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    color: #929292;
}