html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.contenedor-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    align-self: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: radial-gradient(circle, #0e0950, #0e0038);
}

.subtitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: #929292;
}

.contenedor-principal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contenedor-principal1{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #24c62f;
    width: 30%;
    margin-left:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.contenedor-principal2{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #c62424;
    width: 30%;
    margin-left:12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.contenedor-principal3{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #24bec6;
    width: 30%;
    margin-left:12px;
    margin-right:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.contenedor-principal6{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contenedor-principal4{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #c68d24;
    width: 30%;
    margin-left:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.contenedor-principal5{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #7024c6;
    width: 30%;
    margin-left:12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}