html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.contenedor-titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    align-self: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 25px;
    background: radial-gradient(circle, #0e0950, #0e0038);
}

.subtitulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: #929292;
}

.contenedor-principal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contenedor-principal1{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #24c62f;
    width: 30%;
    margin-left:35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton1{
    font-family:'Courier New', Courier, monospace;
    background-color: #24c62f;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
.boton1:hover{
    background-color: #23bf2e;
}

.contenedor-principal2{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #c62424;
    width: 30%;
    margin-left:12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton2{
    font-family:'Courier New', Courier, monospace;
    background-color: #c62424;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
.boton2:hover{
    background-color: #b82222;
}

.contenedor-principal3{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #24bec6;
    width: 30%;
    margin-left: 12px;
    margin-right: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton3{
    font-family:'Courier New', Courier, monospace;
    background-color: #24bec6;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
.boton3:hover{
    background-color: #21b6be;
}

.contenedor-principal7{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contenedor-principal4{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #c68d24;
    width: 30%;
    margin-left:35px;
    margin-top: 12px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton4{
    font-family:'Courier New', Courier, monospace;
    background-color: #c68d24;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
.boton4:hover{
    background-color: #c28a22;
}

.contenedor-principal5{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #7024c6;
    width: 30%;
    margin-left:12px;
    margin-top: 12px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton5{
    font-family:'Courier New', Courier, monospace;
    background-color: #9c2be2;
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50px;
}
.boton5:hover{
    background-color: #9529d8;
}

.contenedor-principal6{
    background-color: #fffdfd;
    color: #131313;
    border-left: 6px solid #c6a824;
    width: 30%;
    margin-left:12px;
    margin-right:35px;
    margin-top: 12px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.boton6{
    font-family:'Courier New', Courier, monospace;
    background: radial-gradient(circle, #0e0950, #0e0038);
    color: #fffdfd;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 33px;
    margin-top: 80px;
    cursor: pointer;
    border-radius: 50px;
}
.boton6:hover{
    background: radial-gradient(circle, #120c63, #160059);
}

footer{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    color: #929292;
}